body {
  background-color: #fbfbfb;
}

.hide {
  display: none;
}

.left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  display: none;
}

.no-margin {
  margin: 0;
}

#result {
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
}

input {
  padding: 5px 1rem 5px 1rem;
}

.text_and_input {
  display: flex;
  align-items: center;
}

.margin-right-1rem {
  margin-right: 1rem;
}

#observe_ped_change {
  margin: 1rem 0 2rem;
}

#observe_ped_change:after {
  content: "*Required";
  color: #ff0000;
  position: relative;
  left: 1rem;
  letter-spacing: 1px;
  font-family: sans-serif;
}
